<nz-alert [nzMessage]="messageTemplate" [nzDescription]="descriptionTemplate" [nzAction]="actionTemplate" id="popup"
    class="popup" />
<ng-template #messageTemplate>
    <nz-icon nzType="info-circle" nzTheme="outline" class="font-style" />
    &nbsp;
    <span class="font-style">
        <span id="type" class="type"></span>
    </span>
</ng-template>
<ng-template #descriptionTemplate>
    <div class="details-date font-style">
        <span id="details" class="details"></span><br>
        <nz-icon nzType="history" nzTheme="outline"></nz-icon>
        &nbsp;
        <span id="datetime" class="datetime"></span>
    </div>
</ng-template>
<ng-template #actionTemplate>
    <nz-ribbon [nzText]="textTemplate" class="font-style" />
    <ng-template #textTemplate>
        <span id="status" class="status font-style"></span>
    </ng-template>
</ng-template>