.popup {
    min-width: 300px;
    position: absolute;
    // background-color: #333; /* Dark background */
    // color: #fff; /* Light text */
    // padding: 10px;
    // border-radius: 10px;
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    // font-family: Arial, sans-serif;
    // font-size: 14px;
    display: none; /* Initially hidden */
  }
  
  .popup.visible {
    display: block; /* Show when visible */
  }